.footer {
  padding: 1rem;
  box-shadow: 0 -0.4rem 1rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "name links social"
    "copy copy copy";
  font-size: 1.2rem;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  grid-area: name;
  flex-direction: column;

  p:first-of-type{
    font-size: 1.4rem;
    font-weight: bold;
  }
}


.links-wrapper {
  grid-area: links;
  flex-direction: column;

  a {
    text-decoration: none;
    color: #000;
  }

  a:hover {
    text-decoration: underline;
  }
}

.social-media-wrapper {
  grid-area: social;
  flex-direction: row;
  justify-content: space-evenly !important;
}

.copyright {
  grid-area: copy;
  text-align: center;
}
