.navbar {
  height: 100vh;
  box-sizing: border-box;
  background-color: #161a1d;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: navbar;
}

.navbar .user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .user .name {
  font-size: 1.8rem;
  color: white;
}

.navbar .user .user-image {
  height: 10rem;
  width: 10rem;
}

.navbar .links {
  /* background-color: aquamarine; */
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.navbar .links a {
  display: block;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.6rem 0;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.navbar .links button {
  background-color: transparent;
  border: none;
  display: inline;
}

.navbar .links .selected {
  color: #161a1d;
  background-color: aliceblue;
}

.navbar .links .selected:hover {
  background-color: aliceblue;
  cursor: initial;
}

.navbar .links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar .social-media-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar .social-media-wrapper svg {
  height: 2rem;
  width: 2rem;
  fill: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.navbar .social-media-wrapper svg {
  margin-right: 0.5rem;
}

.navbar .social-media-wrapper svg:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.logout {
  color: rgb(231, 71, 71) !important;
}
